<footer class="footer-area footer-1  gray-bg-2">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay=".4s">
                    <h5 class="f-widget-title">Thông tin</h5>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Dịch vụ khách hàng</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay=".6s">
                    <h5 class="f-widget-title">Dịch vụ của chúng tôi</h5>
                    <ul>
                        <li><a href="#">Giúp đỡ và liên hệ với chúng tôi</a></li>
                        <li><a href="#">Returns & Refunds</a></li>
                        <li><a href="#">Những cửa hàng trực tuyến</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="widget f-widget pb-30  wow fadeInUp" data-wow-delay=".8s">
                    <h5 class="f-widget-title">Thanh toán & Vận chuyển</h5>
                    <ul>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Các phương thức thanh toán</a></li>
                        <li><a href="#">Hướng dẫn chuyển hàng</a></li>
                        <li><a href="#">Thời gian vận chuyển</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay="1s">
                    <h5 class="f-widget-title">Bạn đang tìm kiếm PUIK?</h5>
                    <address>
                        <ul>
                            <li>Hãy liên hệ:</li>
                            <li>Địa chỉ: S9 Heaven Stress, Beverly Hill, USA.</li>
                            <li>Số điện thoại: +1 (800) 123 456 789</li>
                            <li>Fax: +1 (800) 123 456 789</li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="copyright-text text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <p>Mở của: T2 - T6: <span>9:00 sáng – 9:00 tối.</span> <span>T7: 9:00 sáng – 6:00 tối.</span> CN:
                            9:00 sáng – 6:00 tối.<br></p>
                        <img src="/assets/home/img/icon/payments.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.copyright area end -->
</footer>