<!doctype html>
<html class="no-js" lang="zxx">
<%- include("layouts/header"); -%>
<title>Theo dõi đơn hàng</title>
    <body>
        <%- include("layouts/navbar"); -%>
            <main>
                <!-- breadcrumb area start -->
                <div class="breadcrumb-area-3 pt-215 pb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="breadcrumb-wrapper-2 text-center">
                                    <h3>Theo dõi đơn hàng</h3>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Theo dõi đơn hàng</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb area end -->

                <!-- Cart Area Strat-->
                <section class="cart-area pt-100 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="order-id">Mã đơn hàng</th>
                                                <th class="order-date">Ngày tạo</th>
                                                <th class="order-amount">Tổng tiền</th>
                                                <th class="order-status">Trạng thái</th>
                                                <th class="order-action">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr>
                                                <td class="order-id-val">T shirt for men</td>
                                                <td class="order-date-val"><span class="amount">$130.00</span></td>
                                                <td class="order-amount-val">
                                                    <span></span>
                                                </td>
                                                <td class="order-status-val"><span>$130.00</span></td>
                                                <td class="order-action-btn">
                                                    <a class="btn btn-info btn-payment-order" href="#" role="button"
                                                        style="color: white;">Payment</a>
                                                    <a class="btn btn-danger btn-cancel-order" href="javascript:void(0)"
                                                        role="button">Cancel Order</a>
                                                </td>
                                            </tr> -->

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row mt-3">
                                    <div class="shop-pagination">
                                        <div class="basic-pagination">
                                            <nav>
                                                <ul>
                                                
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Cart Area End-->


            </main>
            <!-- footer area start -->
            <%- include("layouts/footer"); -%>
                <!-- footer area end -->
                <%- include("layouts/script"); -%>
                    <script type="text/javascript">
                        let currentPage;
                        let totalPages;
                        $(document).ready(function () {
                            selectPage(1);
                        })

                        function prevPage() {
                            if (currentPage > 1) {
                                currentPage--;
                                selectPage(currentPage)
                            }
                        }

                        function selectPage(page) {
                            $.ajax({
                                type: "GET",
                                url: location.protocol + '//' + location.host + `/api/ordersByUser/${page}`,
                                contentType: 'json',
                                dataType: "json",
                            })
                            .done(function (response) {
                                currentPage = response.currentPage;
                                totalPages = response.totalPages;
                                let content = "";
                                let myDate;
                                let buttonStatus;
                                let status;
                                response.orders.forEach(item => {
                                    myDate = new Date(item.createdAt);
                                    myDate = myDate.toLocaleString("vi-VN").split(',')[1];
                                    if (item.status == "0") {
                                        status = "<span style=\"color: rgb(255, 0, 0);\">Cancelled</span>";
                                        buttonStatus = "";
                                    }
                                    else if (item.status == "1") {
                                        status = "<span style=\"color: #ffbe76;\">Pending</span>";
                                        buttonStatus = `<a class="btn btn-info btn-payment-order mr-5" href="/payment/${item._id}" role="button" style="color: white;">Payment</a>` +
                                            `<a class="btn btn-danger btn-cancel-order" onclick="cancelOrder(\'${item._id}\')" href="javascript:void(0)" role="button">Cancel Order</a>`;
                                    }
                                    else {
                                        status = "<span style=\"color: #badc58;\">Complete</span>";
                                        buttonStatus = "";
                                    }
                                    content += '' +
                                        `<tr id="order-${item._id}">` +
                                        `                                                <td class="order-id-val">#${item._id}</td>` +
                                        `                                                <td class="order-date-val"><span>${myDate}</span></td>` +
                                        '                                                <td class="order-amount-val">' +
                                        `                                                    <span>$${item.total_money}</span>` +
                                        '                                                </td>' +
                                        `                                                <td class="order-status-val">${status}</td>` +
                                        '                                                <td class="order-action-btn">' +
                                        `${buttonStatus}` +
                                        '                                                </td>' +
                                        '                                            </tr>' +
                                        '';
                                })
                                pagination(response)
                                $(".table-content.table-responsive tbody").html(content);
                            })
                            .fail(function (response) {

                            })
                        }

                        function nextPage() {
                            if (currentPage < totalPages) {
                                currentPage++;
                                selectPage(currentPage)
                            }
                        }

                        function pagination(response) {
                            let data = "";
                            if (response.currentPage > 1) {
                                data += '' +
                                    '<li>' +
                                    '                                                        <a href="javascript:void(0);" onclick="prevPage()">' +
                                    '                                                            <i class="far fa-angle-left"></i>' +
                                    '                                                        </a>' +
                                    '                                                    </li>' +
                                    '';
                            }
                            for (let i = 0; i < response.totalPages; i++) {
                                data += '' +
                                    '<li>' +
                                    '                                                        <a href="javascript:void(0);" onclick="selectPage(\'' + (i + 1) + "')\"' >" + (i + 1) + "</a>" +
                                    '                                                    </li>' +
                                    '';
                            }
                            if (response.currentPage != response.totalPages && response.totalPages > 0) {
                                data += '' +
                                    '<li>' +
                                    '                                                        <a href="javascript:void(0);" onclick="nextPage()">' +
                                    '                                                            <i class="far fa-angle-right"></i>' +
                                    '                                                        </a>' +
                                    '                                                    </li>' +
                                    '';
                            }
                            $(".basic-pagination nav ul").html(data);
                        }

                        function cancelOrder(orderId)
                        {
                            $.ajax({
                                type: "PUT",
                                url: location.protocol + '//' + location.host + `/api/orderCancel/${orderId}`,
                                contentType: 'json',
                                dataType: "json",
                                data: { orderId }
                            })
                            .done(function (response) {
                                console.log(response);
                                Swal.fire({
                                    icon: "success",
                                    title: "Cancel Order successfully!",
                                    showConfirmButton: false,
                                    timer: 1500,
                                });
                                selectPage(1);
                            })
                            .fail(function (response) {

                            })
                        }

                        
                    </script>